* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IM FELL French Canon SC', serif;
  color: white;
}

html, body {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70vh;
  gap: 0;
}

.section {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.section-1 {
  background: url("../img/img1.jpg") center/cover no-repeat;
  min-height: 75vh;
}

.section-2 {
  background-color: #000000;
  min-height: 75vh;
}

.section-3 {
  background: black;
  min-height: 100vh;
}

.container-1 {
  display: flex;
  width: 100%;
  height: 100vh;
}

.display-left, .display-right {
  flex: 1;
  padding: 20px;
}

label {
  font-size: 8ex;
}

#title {
  padding-top: 0;
  text-align: left;
  margin-left: 6vh;
  font-size: clamp(3rem, 11vw, 28ex);
  color: rgb(255 255 255 / 0.6);
  margin-bottom: 0;
}

#slogan {
  padding-top: -0.2vh;
  text-align: left;
  margin-left: 6vh;
  font-size: clamp(1.5rem, 4vw, 7ex);
  color: rgb(255 255 255 / 0.6);
}

#name {
  text-align: left;
  margin-left: 6vh;
  font-size: clamp(1.2rem, 2.5vw, 4ex);
  color: rgb(255 255 255 / 0.6);
}

#info {
  text-align: left;
  margin-left: 6vh;
  font-size: clamp(0.9rem, 2vw, 3ex);
  color: rgb(255 255 255 / 0.6);
}

#section-title {
  text-align: center;
  font-size: clamp(2.5rem, 4vw, 20ex);
  color: rgb(255 255 255 / 0.9);
  margin: 0;
  padding: 0;
}

input {
  width: 70%;
  padding: 10px 15px;
  font-size: 2rem;
  background: black;
  border: 1px solid white;
  border-radius: 0;
  transition: all 0.3s ease;
  margin-bottom: 25px;
}

button {
  padding: 12px 30px;
  font-size: 2rem;
  width: 75%;
  background: black;
  border: 1px solid white;
  border-radius: 0;
  color: #ffffff;
  text-transform: uppercase;
}

label {
  font-size: 1.5rem;
  color: rgb(255 255 255 / 0.9);
  margin-right: 10px;
}
